/* === Button === */

.button {
  display: inline-block;
  border: 2px solid #6200ea;
  border-radius: 24px;
  text-align: center;
  height: 50px;
  margin-top: 15px;
  margin-bottom: 0px;
  height: 50px;
  width: 92.5%;
  padding: 18px 0px 17px;
}

/* === Icon Button === */

.icon-button{
  text-align: center;
  font-size: 20px;
  background-color: #f3f4f5;
  opacity: 0.25;
}

/* === Header Logo ===*/

.chat-room-header_logo {
  
}


/* === Chat Pictures === */

.chat-contacts_picture, .chat-room_picture, .chat-room-header_student-picture {
  height: 50px;
  width: 50px;
  display: inline-block;
  border-radius: 24px;
  text-align: center;
}

.chat-room-header_student-picture {
  height: 40px;
  width: 40px;
}

/* === Send Message Button  === */

.chat-room_send-message--button {
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: .714rem;
  border-radius: 50%;
  background-color: #6200ea;
  text-align: center;
}

.send-message-icon {
  color: #ffffff;
  font-size: 20px;
}

/* === Full Layout === */ /* Ideiglenes rész!!!*/

.layout {
}

/* === Left Column === */

.left-column {
  height: 100vh;
  background-color: #ffffff;
}

/* === Search Bar === */

.search-bar-container {
  height: 8.88vh;
  width: 400px;
  position: relative;
  border-bottom: 1px solid #f3f4f5;
  
}

.search-bar_input-field {
  padding: 16px 0px 15px 24px;
  position: absolute;
  display: block;
  top: 15px;
  left: 15px;
  margin-bottom: 15px;
  border: 0;
  border-bottom: 1px solid;
  border-color: transparent;
  background-color: #f3f4f5;
  height: 50px;
  width: 320px;
}


.search-bar_search-button {
  padding: 15px;
  position: absolute;
  top: 15px;
  left: 335px;
  height: 50px;
  width: 50px;
  background-color: #f3f4f5;
  border: none;
}

/* === Chat Contacts === */

.chat-contacts {
  height: 80px;
  width: 100%;;
  border-top: 1px solid #f3f4f5;
  border-bottom: 1px solid #f3f4f5;
  position: relative;
}

.chat-contacts:first-child {
  border-top: 0px;
  border-left: 5px solid #6200ea;
}

.chat-contacts_picture {
  position: relative;
  top: 15px;
  left: 15px;
  margin-bottom: 14px;
}

.chat-contacts_name {
  position: relative;
  left: 80px;
  bottom: 45px;
  margin-bottom: 5px;
}

.chat-contacts_message {
  position: relative;
  left: 80px;
  top: -40px;
  margin-bottom: 20px;
}
